---
import Header from "../components/header/Header.astro";
import "../style/index.css";
import Main from "../components/main/main.astro";
import Footer from "../components/footer/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Contrata a Alessandro para crear tu aplicación web o móvil. Desarrollador web." />
    <title>Portfolio de Alessandro - Desarrollador y Programador Web</title>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://portafolio-plantilla.vercel.app/" />
    <meta property="og:site_name" content="Alessandro Rodríguez" />
    <meta property="og:title" content="Portfolio de Alessandro - Desarrollador y Programador Web" />
    <meta property="og:description" content="Contrata a Alessandro para crear tu aplicación web o móvil. Desarrollador web." />
    <meta property="og:image" content="https://portafolio-plantilla.vercel.app/preview-page.png" />

    <!-- Twitter Card (opcional) -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Portfolio de Alessandro - Desarrollador y Programador Web" />
    <meta name="twitter:description" content="Contrata a Alessandro para crear tu aplicación web o móvil. Desarrollador web." />
    <meta name="twitter:image" content="https://portafolio-plantilla.vercel.app/preview-page.png" />

    <script
      src="https://kit.fontawesome.com/2898a0ac51.js"
      crossorigin="anonymous">
    
    </script>
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>